
<ion-row>
  <ion-col>
  <div class="progress-wrapper">
    <div class="current" > <ion-row style="font-size: medium;"><div class="currentText">{{ currentWeekHours }} /</div>{{ maxWeekHours }}</ion-row><div class="currentText">Week</div></div>
<round-progress 
    [current]="currentWeekHours"
    [max]="maxWeekHours"
    [color]="color"
    [background]="'#eaeaea'"
    [radius]="radius"
    [stroke]="7"
    [semicircle]="false"
    [rounded]="true"
    [clockwise]="true"
    [responsive]="false"
    [duration]="800"
    [animation]="'easeInOutQuart'"
    [animationDelay]="0"
></round-progress>
  </div>
</ion-col>
<ion-col>
  <div class="progress-wrapper"  >
    <div class="current" > <ion-row sstyle="font-size: medium;"><div class="currentText">{{ currentMonthHours }} /</div>{{ maxMonthHours }}</ion-row><div class="currentText">Month</div></div>
<round-progress
    [current]="currentMonthHours"
    [max]="maxMonthHours"
    [color]="color"
    [background]="'#eaeaea'"
    [radius]="radius"
    [stroke]="7"
    [semicircle]="false"
    [rounded]="true"
    [clockwise]="true"
    [responsive]="false"
    [duration]="800"
    [animation]="'easeInOutQuart'"
    [animationDelay]="0"
></round-progress>

  </div>
</ion-col>
</ion-row>
