<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{'settings.title' | translate}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!session.isValidSession()" type="submit" (click)="signOut()" expand="block">
        {{'settings.logout' | translate}}</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-padding">
    <ion-avatar class="center-img">
      <img [src]="avatarSrc" />
    </ion-avatar>
    <br>
    <div class="ion-text-center">{{ profile.acntName}} </div> <br>
    <div class="ion-text-center">{{ basUser.bas_FirstName}} {{ basUser.bas_LastName}}</div>
  </ion-card>

  <ion-card class="ion-padding">

    <ion-item lines="none">
      <ion-label>{{'settings.language' | translate}}</ion-label>
      <ion-select [value]="language" (ionChange)="languageChanged($event)" okText="{{'common.ok' | translate}}"
        cancelText="{{'common.cancel' | translate}}">
        <ion-select-option [value]="null">{{'settings.system-default' | translate}}</ion-select-option>
        <ion-select-option value="en">English</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-item lines="none">{{'settings.use-pin' | translate}}<ion-toggle slot="end" [checked]="usePin"
        (ionChange)="handlePin($event)"></ion-toggle>
    </ion-item>
  </ion-card>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar align="center">
    <ion-label class="ion-text-wrap">Copyright © <br> Touchless Biometric Systems AG <br> {{version}}</ion-label>
  </ion-toolbar>
</ion-footer>